<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HDVideoPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BB0CF651C9E981900D4D738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BB0CF7E1C9E981900D4D738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BB0CF891C9E981900D4D738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
